<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Contact List</title>
    </head>
    <body>
        <main>
            <div id="form-div">
                <h1 id="main-title">Contact List</h1>
                <h3 id="subtitle">Select the actor to see contact details</h3>
                <form action="">
                    <div class="movie-selector-div">
                        <select name="movie-selector" id="movie-selector" >
                            <option value="">Select an actor</option>
                            <option value="teste">Teste</option>
                            <option value="teste">Teste</option>
                            <option value="teste">Teste</option>
                        </select>
                     </div>
                </form>

                <div id="data-container">
                    <div class="movie-data">
                        <h4>Stuntman Name: </h2>
                        <h5>Actor Name: </h2>
                        <h5>Address:</h5>
                        <h5 id="active">The Stuntman is active</h5>
                        <h5 id="inactive">The Stuntman is inactive</h5>
                    </div>
                </div>
            </div> 
        </main>
    </body>
</html>