<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <script src="https://unpkg.com/feather-icons"></script>
        <title>Stuntman</title>
    </head>
    <body>
        <main>
            <div id="form-div">
                <h1 id="main-title">Films API</h1>
                <h3 id="subtitle">Complete the form to add an stuntman</h3>
                <form action="">
                    <div class="input-field">
                        <h4>Name</h4>
                        <input type="text" name="actor_name" id="actor_name" required>
                    </div>

                    <div class="input-field">
                        <h4>Referred Actor</h4>
                       <select name="fk_actor" id="fk_actor" >
                           <option value="teste">Teste</option>
                           <option value="teste">Teste</option>
                           <option value="teste">Teste</option>
                       </select>
                    </div>

                    <div id="stunt-situation">
                        <h4>Is the stuntman active?</h4>
                        <input type="checkbox" id="situation">
                    </div>


                    <input type="submit" value="Add stuntman">
                </form>
            </div> 
        </main>
    </body>
</html>