<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true"
    fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/">
                <i class="material-icons">
                    home
                </i>
                Inicio
            </a>

            <a mat-list-item routerLink="/films">
                <i class="material-icons">
                    view_list
                </i>
                Filmes
            </a>

            <a mat-list-item routerLink="/actors">
                <i class="material-icons">
                    person
                </i>
                Atores
            </a>
            
            <a mat-list-item routerLink="/stuntmans">
                <i class="material-icons">
                    person
                </i>
                Dubles
            </a>

            <a mat-list-item routerLink="/contacts">
                <i class="material-icons">
                    phone
                </i>
                Contatos
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
