<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Films API</title>
    </head>
    <body>
        <main>
            <form action="">
                <div class="input-field">
                    <input type="text" name="film_name" id="film_name" placeholder="Enter the name of the film">
                </div>
            </form>

            <form action="">
                <div class="input-field">
                    <input type="date" name="release_date" id="release_date">
                </div>
            </form>

            <form action="">
                <div class="input-field">
                    <input type="file" name="poster" id="poster">
                </div>
            </form>

        </main>
    </body>
</html>