<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Movies List</title>
    </head>
    <body>
        <main>
            <div id="form-div">
                <h1 id="main-title">Movies List</h1>
                <h3 id="subtitle">Select the movie to see more details</h3>
                <form action="">
                    <div class="movie-selector-div">
                        <select name="movie-selector" id="movie-selector" >
                            <option value="">Select a film</option>
                            <option value="teste">Teste</option>
                            <option value="teste">Teste</option>
                            <option value="teste">Teste</option>
                        </select>
                     </div>
                </form>

                <div id="data-container">
                    <div class="movie-data">
                        <h4>Title: </h2>
                        <h5>Release Date: </h5>
                    </div>
                    
                    <span>
                        <h4 class="section">Cast</h4>
                    </span>
                    <h5>Name:</h5>
                    <h5>Birthdate:</h5>
                    <h5>Poster</h5>
                </div>
            </div> 
        </main>
    </body>
</html>